body {
    width: 860px;
    padding: 20px;
    margin: 0px auto;
    overflow: auto;
}

pre {
    padding: 15px;
}

code {
    font-size: 11pt;
    line-height: 1.5em;
}

.navigation {
    padding: 15px;
    text-align: center;
}

.footer {
    padding: 15px;
    text-align: center;
}
